language: go

env:
  - DEP_VERSION=0.5.4

before_install:
  - curl -L -s https://github.com/golang/dep/releases/download/v${DEP_VERSION}/dep-linux-amd64 -o $GOPATH/bin/dep
  - chmod +x $GOPATH/bin/dep
  - dep ensure

go:
  - 1.12.7
  - tip

script:
  - source ./prepare_travis_for_tests.sh
  - make show-env
  - make test
